:host {


  height: 100%;
  padding: 10px 10px;

  .tag {
    button {
      height: 30px;
    }

    .tag-content {
      margin-top: 20px;

      ::ng-deep.mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
        max-width: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
